body {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   margin: 0;
   font-family: Arial, sans-serif;
}

.calculator {
   background-color: #2a2a2a;
   padding: 20px;
   border-radius: 10px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.display {
   width: 100%;
   height: 40px;
   margin-bottom: 10px;
   text-align: right;
   padding: 5px;
   font-size: 18px;
   border: 1px solid #ccc;
   border-radius: 5px;
   word-break: break-all;
   background-color: #ccc;
}

.buttons {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   gap: 10px;
}

button {
   padding: 15px;
   font-size: 18px;
   border: none;
   border-radius: 5px;
   background-color: #e0e0e0;
   cursor: pointer;
   transition: background-color 0.2s;
}
button:hover {
   background-color: greenyellow;
}

.operator {
   background-color: #ff9500;
   color: white;
}
.operator:hover {
   background-color: #e08500;
}
.equal {
   background-color: #007aff;
   color: white;
}
.equal:hover {   background-color: #0060c0;
}
.clear {
   background-color: #ff3b30;
   color: white;
}

.zero {
   grid-column: span 2;
}  

.clear:hover {
   background-color: #e02a20;
}
